<form method="post" action="{{ path('usuarios_delete', {'idUs': usuario.idUs}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.idUs) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
