{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdUs</th>
                <td>{{ usuario.idUs }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ usuario.correo }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ usuario.apellidos }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ usuario.puesto }}</td>
            </tr>
            <tr>
                <th>Conocimientos</th>
                <td>{{ usuario.conocimientos }}</td>
            </tr>
            <tr>
                <th>Aficiones</th>
                <td>{{ usuario.aficiones }}</td>
            </tr>
            <tr>
                <th>FechaNac</th>
                <td>{{ usuario.fechaNac ? usuario.fechaNac|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaUltCon</th>
                <td>{{ usuario.fechaUltCon ? usuario.fechaUltCon|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FotoArchivo</th>
                <td>{{ usuario.fotoArchivo }}</td>
            </tr>
            <tr>
                <th>Fechamodificacion</th>
                <td>{{ usuario.fechamodificacion ? usuario.fechamodificacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-secondary" href="{{ path('usuarios_index') }}">Volver</a>
            </div>
            <div class="col-sm">
                {{ include('usuarios/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    
{% endblock %}
