<form method="post" action="{{ path('canales_delete', {'idCanal': canale.idCanal}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ canale.idCanal) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
