{% extends 'base.html.twig' %}

{% block title %}Edit Canales{% endblock %}

{% block body %}
    <h1>Editar Canal</h1>

    {{ include('canales/_form.html.twig', {'button_label': 'Modificar'}) }}

    <div class="col-sm">
        <a class="btn btn-secondary" href="{{ path('canales_index') }}">Volver</a>
    </div>
    <div class="col-sm">
    {{ include('canales/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
{% endblock %}
