{% extends 'base.html.twig' %}

{% block title %}Canales index{% endblock %}

{% block body %}
    <h1>Canales</h1>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>IdCanal</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Fechamodificacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for canale in canales %}
            <tr>
                <td>{{ canale.idCanal }}</td>
                <td>{{ canale.nombre }}</td>
                <td>{{ canale.descripcion }}</td>
                <td>{{ canale.imagen }}</td>
                <td>{{ canale.fechamodificacion ? canale.fechamodificacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('canales_show', {'idCanal': canale.idCanal}) }}">Mostrar</a>
                    <a class="btn btn-secondary" href="{{ path('canales_edit', {'idCanal': canale.idCanal}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-success" href="{{ path('canales_new') }}">Nuevo</a>
    </div>
{% endblock %}
