{% extends 'base.html.twig' %}

{% block title %}New Canales{% endblock %}

{% block body %}
    <h1>Crear Nuevo Canal</h1>

    {{ include('canales/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('canales_index') }}">Volver</a>
{% endblock %}
