{% extends 'base.html.twig' %}

{% block title %}Canales{% endblock %}

{% block body %}
    <h1>Canales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCanal</th>
                <td>{{ canale.idCanal }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ canale.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ canale.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ canale.imagen }}" /></td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-secondary" href="{{ path('canales_index') }}">Volver</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-success" href="{{ path('canales_edit', {'idCanal': canale.idCanal}) }}">Editar</a>
            </div>
            <div class="col-sm">
                {{ include('canales/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
