{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm">
        <a class="text-center text-dark" href="{{ path('usuarios_index') }}">
            <h1>Usuarios</h1>
            <div class="col-sm">
            <img src="{{ asset('usuarios.jpg', 'imagenlogo') }}"class="img-responsive"  width="300" height="300"/>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a class="text-center text-dark" href="{{ path('canales_index') }}">
            <h1>Canales</h1>
            <div class="col-sm">
            <img src="{{ asset('canales.jpg', 'imagenlogo') }}"class="img-responsive" width="300" height="300"/>
            </div>
        </a>
    </div>
  </div>
</div>


{% endblock %}
